body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar styling */
#header{
  position: fixed;
  z-index: 2;
  top: 0px;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  border-bottom: 1px solid lightgray;
  background-color: white;
  opacity: .95;
}

  #header i{
    padding: 0px 3px 0px 0px;
  }

.nav-link{
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  height: 40px;
  text-decoration: none;
  font: Helvetica;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  color: #57a2e4;
}

.nav-link-selected{
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  height: 40px;
  text-decoration: none;
  font: Helvetica;
  font-size: 16px;
  font-weight: 500;
  background-color: #57a2e4;
  color: white;
}

/* Feed styling */

#feed{
  position: absolute;
  top: 40px;
  width: 100vw;
}

#single-page{
  display: flex;
}

/* Post styling */
.single-post{
  max-width: 500px;
  box-shadow: 1px 1px 1px lightgrey;
  margin: 40px;
}

  .single-post div{
    border: 1px solid lightgray;
  }

  .single-post img{
    max-width: 500px;
    z-index: -1;
  }

  .single-post h1{
    font-family: 'Arvo', serif;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    padding: 24px;
  }

.img-container{
  background-color: black;
  height: 350px;
  position: relative;
}

.favorite-icon{
  color: white;
  z-index: 1;
  position: absolute;
  top: 4px;
  left: 4px;
}

.post-subhead {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

  .post-subhead p{
    font: Helvetica;
    font-size: 12px;
    color: #999;
    margin: 5px;
  }

[hidden]{
  display:none !important;
}

#no-favorites-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 40px 0px 40px;
  background-color: rgb(254, 254, 188);
}
